.header__title {
    display: flex;
    max-width: 730px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 64px;
    

    z-index: 2;
    line-height: 96px;
    font-size: 102px;
    font-weight: bolder;
}